{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {% csrf_token %}

    <p><label class="form-label" for="{{ form_test_title.title_for_label }}">{{ form_test_title.title.label }}</label>{{ form_test_title.title }}</p>
    <div class="form-error">{{ form_test_title.non_field_errors }}</div>
    <p><label class="form-label" for="{{ form_question.title_for_label }}">{{ form_question.title.label }}</label>{{ form_question.question }}</p>
    <div class="form-error">{{ form_question.non_field_errors }}</div>
    <p><button class="add-question" type="button">Добавить вопрос</button></p>
    <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}